<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->

<%# Main Body %> 
<body>
  <div class="container">
    <h1>My TinyURL</h1>

    <%# Create ShorUrl %> 
       <!-- include create_short -->
        <%- include('include/_create_short') %>
      <!-- /include create_short -->
    <%# /Create ShorUrl %>
   
    <%# Search Display %> 
      <!-- include search -->
      <%- include('include/_search') %>
      <!-- /include search -->
    <%# /Search Display %>

    <%# Table Display %> 
      <!-- include table -->
        <%- include('include/_table') %>
      <!-- /include table -->
    <%# /Table Display %>

  </div>

 <!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

